# Virtual Environment
venv/
.env
.vscode/
.idea/

# Python Cache
__pycache__/
*.py[cod]
*$py.class


# Flask Instance
instance/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Testing
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Build
build/
dist/
*.egg-info/

# MyPy
.mypy_cache/

# Dataset sementara
dataset/temp/
dataset/cache/

# SQLite
*.sqlite
*.db

# Node Modules & Tailwind
node_modules/

